includes:
  - phpstan-baseline.neon
parameters:
  # https://phpstan.org/config-reference#rule-level
  level: 6

  # https://phpstan.org/config-reference#phpversion
  phpVersion: 80100

  # https://phpstan.org/config-reference#inferprivatepropertytypefromconstructor
  inferPrivatePropertyTypeFromConstructor: true

  # https://phpstan.org/user-guide/ignoring-errors#reporting-unused-ignores
  reportUnmatchedIgnoredErrors: false

  paths:
    - web/modules/custom
    - web/themes
  excludePaths:
    - web/modules/custom/*/node_modules/*
    - web/themes/*/node_modules/*
    - web/themes/contrib
