{% if not is_published %}
  {% set unpublished_message %}
    <p class="usa-alert__text">{{ 'This page is unpublished.'|t }}</p>
  {% endset %}
  {% include '@uswds/alert/alert.twig' with {
    'modifier_classes': 'usa-alert--warning u-spaced-2',
    'title': false,
    'content': unpublished_message
  } %}
{% endif %}

{% if show_admin_info %}
  {% block admin_info %}
    {{ admin_info }}
  {% endblock %}
{% endif %}
