{#
/**
 * @file
 * Theme implementation for a form.
 *
 * This form template gets extended by forms that should display as inline.
 */
#}
<form{{ attributes.addClass('l-inline-form') }}>
  {{ children }}
</form>
