{#
/**
 * @file
 * Theme implementation for a form.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
<form{{ attributes.setAttribute('id', attributes.id|clean_unique_id) }}>
  {{ children }}
</form>
